/* Menu button */
.button {
    -fx-background-color : #AD0031;
    -fx-background-radius:0em;
    -fx-alignment: BASELINE_LEFT;
}
.button:hover
{
    -fx-background-color : #C70039;
}
.button:pressed
{
    -fx-background-color: #7156DD;
}

.button: focused {
    -fx-background-color: #7D6CC8;
    -fx-border-color : #C70039;
    -fx-border-width: Opx 0px Opx 3px;
}

/* Table */
.table-view {
    -fx-border-color: #C70039;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}
.table-view .column-header,
.table-view .column-header-background .fitter {
    -fx-cell-size : 20;
    -fx-background-color: #C70039;
}

.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bot;
    -fx-alignment: CENTER;
}
.table-view .cell {
    -fx-cell-size: 20;
    -fx-alignment: center-left;
    -fx-text-fi11: #000000;
    -fx-alignment: CENTER_LEFT;
}
.table-row-cell: selected {
    -fx-background-color: qb(127, 172, 243);
}
.table-row-cell:selected .text {
    -fx-fill : white;
}

/* Info panel */
.pane {
    -fx-border-color: #C70039;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

/* scroll-pane */
.scroll-pane {
    -fx-background-color: #C70039;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scroll-pane > .corner {
    -fx-background-color: black;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

/* Scroll bar starts here */

/* chart properties */
.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 18);
    -fx-border-width: 0px;
}

 .text-field {
     -fx-background color: linear-gradient (to bottom, #efefef, #eee);
     -fx-border-color:linear-gradient(to bottom right, #272b3f, #256b51);
     -fx-border-width: .8px;
     -fx-font-family: "Tahoma";
     -fx-border-radius: 4px;
 }
 .text-field: focused {
     -fx-background-color: #fff;
     -fx-border-width: 1.8px;
 }

 /* Search */
 .search {
     -fx-background-color:transparent;
     -fx-font-size: 13px;
     -fx-padding: Opx Opx Opx 28px;
     -fx-text-alignment: center-left;
 }
 .search: focused{
     -fx-border-width:2px;
 }

/* Tab pane */
.tab-pane {
    my-tab-header-background: derive(-fx-text-box-border, 30%) ;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: -fx-outer-border, -fx-text-box-border,
        linear-gradient(from 0px 0px to 0px 5px, -fx-text-box-border, my-tab-header-background) ;
}





